.ui-slider-tick {
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 8px;
    top: 16px;
  }
  
  .ui-slider-tip {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 21px;
    text-align: center;
    font-size: 0.8em;
  }


.ui-slider-wrapper { position: relative; display: inline-block;}
.ui-slider-labels { position: absolute; border: 1px solid transparent; }
.ui-slider-label-ticks { border: 1px solid transparent; position: absolute; white-space: nowrap; }
.ui-slider-label-ticks span { font-size: 0.9em; min-width: 1.2em; }

.ui-slider-wrapper.vertical { width: 4.5em; }
.vertical .ui-slider-labels { top: 1px; bottom: 0; left: 0.7em; }
.vertical .ui-slider-label-ticks { height: 1.2em; width: 0.8em; border-bottom: 1px solid #999; }
.vertical .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: 1em;}

.ui-slider-wrapper.horizontal { height: 4.5em; width: 100%;}
.horizontal .ui-slider-labels { top: 0; bottom: 1px; width: 100%;}
.horizontal .ui-slider-label-ticks { height: 0.8em; width: 1.2em; border-left: 1px solid #999; }
.horizontal .ui-slider-label-ticks span { position: relative; display: inline-block; margin-top: 1em;}