root = true

[**.js]
indent_style = tab

[**.json]
indent_style = tab

[**.jsx]
e4x = true
indent_style = tab

[**.css]
indent_style = tab

[**.html]
indent_style = tab
max_char = 78
brace_style = expand
